.appHeader {
  position: absolute;

  top: 0;

  left: 0;
  right: 0;

  z-index: $z-header;
  height: $header-height;

  background-color: $color-main;

  @include box-shadow();

  .row {
    margin: 0;
  }

  &__logoContainer {
    padding: 15px 30px;
    cursor: pointer;
  }

  &__rightContainer{
    line-height: 25px;
    font-size: $font-xl;
    text-align: right;

    padding-top: 30px;
    padding-right: 50px;

    color: $color-white;

    a {
      color: $color-white;
      padding: 0 10px;

      border-right: 1px $color-white solid;

      &:hover {
        text-decoration: none;
        color: $color-accent;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}
