<div class="sectionDetails__panel m-t-2 p-t-3 p-b-3 p-l-5 p-r-5">
  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="p-t-4" *ngFor="let item of overview">
        <div>
          {{ item.title }}
        </div>

        <div>
          {{ item.text }}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Questionnaire">
      <div class="p-t-4">
        <ul>
          <li>
            Does your organization performs any of the following actions with the data: collection, recording, organization, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction?
          </li>
          <li>
            Does your organization decides on aims and means of PD processing?
          </li>
          <li>
            Do individuals give a consent for processing their personal data? Do you provide them with a Consent Clause Form?
          </li>
          <li>
            Consent must be unambiguous. This means customers need to easily understand what they are signing up for. Is there any doubt in your statements?
          </li>
          <li>
            Do individuals sign a contract with your organization in order to process their personal data?
          </li>
          <li>
            Do you have to process their personal data to comply with your obligations under the contract?
          </li>
          <li>
            Did individual asked you to do something as a first step (eg provide a quote) and you need to process his personal data to do what he asks?
          </li>
          <li>
            Are you obliged to process the personal data to comply with the law?
          </li>
          <li>
            Is the personal data processing necessary to protect vital interests of data subject or another natural person?
          </li>
          <li>
            Does your organization implement a task which has been assigned in the public interests or in terms of assistance for official authority?
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
