@mixin gradient() {
  /* Gradient */
  background: linear-gradient(180deg, #221451 0%, rgba(44, 44, 44, 0.21) 80.66%, rgba(255, 255, 255, 0) 100%);
  box-sizing: border-box;
}

@mixin box-shadow($x: 0px, $y: 4px, $blur: 4px) {
  box-shadow: $x $y $blur rgba(0, 0, 0, 0.5);
}

// Common classes

.pageContainer {
  position: absolute;

  top: $header-height;
  bottom: 0;

  left: 0;
  right: 0;

  z-index: $z-ground;
}

// Override Angular Material styles

.mat-button.mat-primary {
  color: $color-white;
  background-color: $color-main;

  @include box-shadow(4px, 4px, 4px);
}
