@mixin gradient() {
  /* Gradient */
  background: linear-gradient(180deg, #221451 0%, rgba(44, 44, 44, 0.21) 80.66%, rgba(255, 255, 255, 0) 100%);
  box-sizing: border-box;
}

@mixin box-shadow($x: 0px, $y: 4px, $blur: 4px) {
  box-shadow: $x $y $blur rgba(0, 0, 0, 0.5);
}

// Common classes

.pageContainer {
  position: absolute;

  top: $header-height;
  bottom: 0;

  left: 0;
  right: 0;

  z-index: $z-ground;

  overflow: hidden;
}

@for $i from 1 through 8 {
  .m-t-#{$i} { margin-top:    $i * 10px; }
  .m-b-#{$i} { margin-bottom: $i * 10px; }
  .m-l-#{$i} { margin-left:   $i * 10px; }
  .m-r-#{$i} { margin-right:  $i * 10px; }

  .m-all-#{$i} { margin:  $i * 10px; }
  .p-all-#{$i} { padding: $i * 10px; }

  .p-t-#{$i} { padding-top:    $i * 10px; }
  .p-b-#{$i} { padding-bottom: $i * 10px; }
  .p-l-#{$i} { padding-left:   $i * 10px; }
  .p-r-#{$i} { padding-right:  $i * 10px; }
}

.inline-block { display: inline-block; }
.pointer { cursor: pointer; }
.link { &:hover { color: $color-accent; } }

[ng-reflect-router-link] {
  outline: none;
}

// Override Angular Material styles

.mat-button.mat-primary {
  color: $color-white;
  background-color: $color-main;

  @include box-shadow(4px, 4px, 4px);
}
