// Colors

$color-main: #221451;
$color-accent: #66A5AD;
$color-background: #BDBDBD;
$color-white: #E0E0E0;
$color-black: #2C2C2C;

// Fonts

$font-xl: 18px;
$font-l: 16px;
$font-m: 14px;
$font-s: 12px;

// Metrics

$header-height: 80px;
$tile-size: 250px;

// Z-indexing

$z-header: 100;
$z-ground: 0;
